@model IEnumerable<CaixaEmp.Domain.Entities.Expense>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Criar nova Despesa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayNameFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => item.Priority)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>